@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 30% 93%;
    --foreground: 46 63% 7%;
    --muted: 42 30% 91%;
    --muted-foreground: 42 33% 42%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 42 30% 72%;
    --input: 42 30% 72%;
    --card: 0 0% 100%;
    --card-foreground: 46 63% 8%;
    --primary: 120 47.4% 11.2%;
    --primary-foreground: 120 47.7% 92%;
    --secondary: 120 40% 80.1%;
    --secondary-foreground: 120 47.4% 11.2%;
    --accent: 42 30% 82%;
    --accent-foreground: 46 63% 11%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 2 72% 59%;
    --destructive-foreground: 210 40% 98%;
    --ring: 7.2 30% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 42 30% 10%;
    --foreground: 46 63% 90%;
    --muted: 42 30% 15%;
    --muted-foreground: 42 33% 75%;
    --popover: 0 0% 12%;
    --popover-foreground: 222.2 47.4% 90%;
    --card: 0 0% 12%;
    --card-foreground: 46 63% 90%;
    --border: 42 30% 20%;
    --input: 42 30% 20%;
    --primary: 120 47.4% 30%;
    --primary-foreground: 120 47.7% 92%;
    --secondary: 120 40% 25%;
    --secondary-foreground: 120 47.4% 90%;
    --accent: 42 30% 35%;
    --accent-foreground: 222.2 47.4% 90%;
    --destructive: 2 72% 40%;
    --destructive-foreground: 210 40% 98%;
    --ring: 7.2 30% 30%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  padding: 0px;
  margin: 0px;
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
